<header class="header-container">
  <div class="header-top">
    <div class="location">
      <span class="location-text">{{ location }}</span>
      <i class="pi pi-chevron-down"></i>
    </div>

    <div class="header-icons">
      <button class="icon-btn" (click)="goToCart()">
        <i class="pi pi-shopping-cart"></i>
        <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
      </button>
      <button class="icon-btn">
        <i class="pi pi-bell"></i>
      </button>
    </div>
  </div>
</header>
