<div class="px-4 py-4">
  <h3 class="text-lg font-semibold mb-4">Shop by category</h3>
  <div class="grid grid-cols-2 gap-4">
    <div *ngFor="let category of categories" class="flex flex-col items-center gap-1" (click)="selectCategory(category.id)">
      <div class="w-full aspect-square rounded-lg shadow overflow-hidden flex items-center justify-center">
        <img [src]="category.image" [alt]="category.name" class="w-full h-full object-cover" />
        <i *ngIf="category.id == 0" class="text-blue-500 text-xl pi pi-th-large"></i>
      </div>
      <span class="text-sm text-center text-gray-700">{{ category.name }}</span>
    </div>
  </div>
</div>
